@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

$EB-Garamond-Font-Family: "EB Garamond", serif;
$dark: rgb(37, 119, 242);
$light: #b7a3c7;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);
$spacing-md: 16px;
$spacing-lg: 32px;
$borderRadius: 12px;
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
}
