@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap");

$EB-Garamond-Font-Family: "EB Garamond", serif;
$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);
$primary: rgb(255, 255, 255);
$bg: rgb(46, 46, 174);
$spacing-md: 16px;
$spacing-lg: 32px;
$borderRadius: 12px;
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    @media (min-width: 48em) {
      @content;
    }
  }
}
