$dark: rgb(0, 0, 0);
$light: rgb(255, 255, 255);

.signUpH1 {
  margin-bottom: 4%;
}
.signUpButtonLight {
  background-color: $dark;
  border: none;
  color: $light;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.resetButtonLight {
  background-color: $dark;
  border: none;
  color: $light;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.signUpButtonDark {
  background-color: $light;
  border: none;
  color: $dark;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.resetButtonDark {
  background-color: $light;
  border: none;
  color: $dark;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  width: 45%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.containerButtons {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-between;
}
