.loginInfo {
  width: 50%;
  font-size: 18px;
}
.image {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.containerMain {
  display: flex;
}
.divImage {
  display: flex;
  max-height: 480px;
  height: 480px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
